@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Delicious+Handrawn&family=Kanit:ital,wght@0,400;1,800&display=swap');

*{
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:#242333 ;
    overflow-x: hidden;
    min-height: 100vh;
} */
.movie-page{
    display: none;
    justify-content: center;
    align-items: center;
}
.back-arrow i{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: white;
    transform: translate(100px,0);
}
.inner-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #242333;
    font-family: "Lato",sans-serif;
    margin: 0px;
    margin-top: -20px;
    margin-right: 250px;
    margin-bottom: -20px;
    color: white;
    width: 600px;
}
.movie-poster-container{
    margin:50px 200px;
}
.movie-poster{

}
.movie-poster img{
    object-fit: cover;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
}

.movie-title h2{
    color: white;
}


.seat-container{
    perspective: 1000px;
    margin-bottom: 30px;
}
.seat{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seat.selected{
    background-color: #6feaf6;
}
.seat.occupied{
    background-color: #fff;
}
.seat:nth-of-type(2){
    margin-right: 18px;
}
.seat:nth-last-of-type(2){
    margin-left:18px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.showcase{
    background: rgba(0,0,0,.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small{
    margin-left: 2px;
}
.screen{
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}
p.text{
    margin: 5px 0;
    text-align: start;
    font-size: 24px;
}
p.text span{
    color: #6feaf6;
}
.row{
    display: flex;
}
.payment-button{
    margin: 30px;
    width: 50%;
    padding: 8px;
    font-size: 16px;
    color: black;
    background-color:#6feaf6 ;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
}